﻿@model (TodoList todoList, string ThemeColor, string TitleText, string CallbackMethodName)

@{
    TodoList todoList = Model.todoList;
}

<h3 class="bg-@Model.ThemeColor text-white text-center p-1">@Model.TitleText a TODO List</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="@Model.CallbackMethodName" asp-controller="Home" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (todoList.Id != 0)
            {
            <div class="form-group">
                <label asp-for="@todoList.Id" class="control-label"></label>
                <input asp-for="@todoList.Id" class="form-control" readonly />
            </div>
            }
            <div class="form-group">
                <label asp-for="@todoList.Title" class="control-label"></label>
                <input asp-for="@todoList.Title" class="form-control" />
                <span asp-validation-for="@todoList.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@todoList.Status" class="control-label"></label>
                <select asp-for="@todoList.Status">
                    <br /><option selected="selected" value="">Please select</option>
                    <option value="0">Show</option>
                    <option value="1">Hide</option>
                </select>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-@Model.ThemeColor">Save</button>
                <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                <a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-todolistId="@todoList.Id">
                    Delete
                </a>
            </div>
        </form>
    </div>
</div>
