﻿@model IQueryable<TodoList>
<AuthorizeView>

</AuthorizeView>
@foreach (var tdl in Model ?? Enumerable.Empty<TodoList>())
{
		<div class="d-flex bd-highlight">
			<div class="p-2 flex-grow-1 bd-highlight">
				<h3>@tdl.Title</h3>
				<p>@tdl.Entries.Count tasks</p>
			</div>
			<div class="p-2 bd-highlight">
			<a class="btn btn-info btn-sm" asp-controller="Home" asp-action="CopyList" asp-route-todolistId="@tdl.Id">
					Copy
				</a>
				<a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Details" asp-route-todolistId="@tdl.Id">
					Details
				</a>
				<a class="btn btn-warning btn-sm" asp-controller="Home" asp-action="Edit" asp-route-todolistId="@tdl.Id">
					Edit
				</a>
				<a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-todolistId="@tdl.Id">
					Delete
				</a>
				<a class="btn btn-success btn-sm" asp-controller="Entry" asp-action="Create" asp-route-todolistId="@tdl.Id">
					Add Entry
				</a>
			</div>
			<div class="p-2 bd-highlight">
				<button class="btn btn-primary" data-bs-toggle="collapse" href="@("#collaps"+tdl.Id)" type="button" aria-expanded="false" aria-controls="@("collaps"+tdl.Id)">
					<i class="bi bi-chevron-double-down"></i>
				</button>
			</div>
		</div>
		<div class="collapse" id="@("collaps"+tdl.Id)">
			@foreach (var entry in tdl.Entries)
			{
				@await Component.InvokeAsync("EntriesList", entry)
			}
		</div>
}