﻿@model TodoDomainEntities.Models.TodoList

@{
    Layout = "_Layout";
}

  <h3 class="bg-danger text-white text-center p-1">Are you sure you want to delete this TODO List: @(Model.Title)?</h3>

  <form asp-action="Delete" asp-controller="Home" method="post">
      <input type="submit" class="btn btn-danger" value="Delete" />
      <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back</a>
  </form>
