﻿@model TodoDomainEntities.Models.TodoList?

<h3 class="bg-info text-white text-center p-1">@(Model?.Title) Details</h3>
@foreach (var entry in Model?.Entries ?? Enumerable.Empty<Entry>())
{
	@await Component.InvokeAsync("EntriesList", entry)
}
<a class="btn btn-warning" asp-controller="Home" asp-action="Edit" asp-route-todolistId="@Model?.Id">Edit</a>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back</a>
<a class="btn btn-secondary" asp-controller="Entry" asp-action="ShowCompleted" asp-route-todolistId="@Model?.Id">Show Completed</a>
