﻿@model Entry

<div class="@("accordion"+Model.Id)" id="entryList">
    <div class="card">
        <div class="card-header" id="@("heading"+Model.Id)">
                <h2 class="mb-0">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="@("#collapse"+Model.Id)" aria-expanded="false" aria-controls="@("collapse"+Model.Id)">
                    @Model.Title
                    </button>
                </h2>
        </div>
        <div id="@("collapse"+Model.Id)" class="collapse multi-collapse">
            <partial name="_EntryInfo" model="@Model" />
        </div>
    </div>
</div>