﻿@model (Entry entry, string ThemeColor, string TitleText, string CallbackMethodName)

@{
    Entry entry = Model.entry;
    long tdlId = entry.TodoListId;
}

<h3 class="bg-@Model.ThemeColor text-white text-center p-1">@Model.TitleText a TODO Entry: @entry.Title</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="@Model.CallbackMethodName" asp-controller="Entry" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (entry.Id != 0)
            {
                <div class="form-group">
                    <label asp-for="@entry.Id" class="control-label"></label>
                    <input asp-for="@entry.Id" class="form-control" readonly />
                </div>
            }
            <div class="form-group">
                <label asp-for="@entry.Title" class="control-label"></label>
                <input asp-for="@entry.Title" class="form-control" />
                <span asp-validation-for="@entry.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@entry.Description" class="control-label"></label>
                <textarea asp-for="@entry.Description" class="form-control"> </textarea>
                <span asp-validation-for="@entry.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@entry.Status" class="control-label"></label>
                <select asp-for="@entry.Status" asp-items="Html.GetEnumSelectList<TodoDomainEntities.Enums.EntryStatus>()">
                    <br /><option selected="selected" value="">Please select</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@entry.DueDate" class="col-1 col-form-label">Date:</label>
                <div class="col-5">
                    <div class="input-group date" id="datepicker">
                        <input asp-for="@entry.DueDate" type="text" class="form-control" id="date" value="@DateTime.Now.Date.ToString("dd-MM-yyyy")"/>
                        <span class="input-group-append">
                            <span class="input-group-text bg-light d-block">
                                <i class="bi bi-calendar-date"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="@entry.DueDate" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-@Model.ThemeColor" asp-route-todolistId="@(entry.TodoListId)">Save</button>
                <a class="btn btn-secondary" asp-controller="Home" asp-action="Details">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#datepicker").datepicker({
            format: 'dd-mm-yyyy'
        })
    });
</script>
