﻿@model Entry

<div class="card-body">
    <ul>
        <li>
            <strong>Title: </strong>@Model.Title
        </li>
        <li>
            <strong>Description: </strong>@Model.Description
        </li>
        <li>
            <strong>Due Date: </strong>@Model.DueDate.ToString("MM-dd-yy")
        </li>
        <li>
            <strong>Status: </strong>@Model.Status.GetDisplayName()
        </li>
        <li>
            <strong>Creation date: </strong>@Model.CreationTime.ToString("MM-dd-yy")
        </li>
    </ul>
</div>
<div class="p-2 bd-highlight">
    <a class="btn btn-info btn-sm" asp-controller="Entry" asp-action="Details" asp-route-entryId="@Model.Id">
                        Details
        </a>
    <a class="btn btn-warning btn-sm" asp-controller="Entry" asp-action="Edit" asp-route-entryId="@Model.Id">
                    Edit
        </a>
    <a class="btn btn-danger btn-sm" asp-controller="Entry" asp-action="Delete" asp-route-entryId="@Model.Id">
                    Delete
        </a>
</div>